<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>
    .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }

    .div1 { grid-area: 1 / 1 / 5 / 3; }
    .div2 { grid-area: 1 / 3 / 5 / 5; }
    .div3 { grid-area: 1 / 5 / 5 / 7; }
    .div4 { grid-area: 5 / 1 / 6 / 7; } 

    .tg  {border-collapse:collapse;border-color:#aaa;border-spacing:0;}
    .tg td{background-color:#fff;border-color:#aaa;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{background-color:#f38630;border-color:#aaa;border-style:solid;border-width:1px;color:#fff;
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-dg7a{background-color:#FCFBE3;text-align:left;vertical-align:top}
  </style>
</head>
<body>
    <div class="parent">
        <div class="div1">
            <h2>Temperature</h2>
            <table class="tg">
                <thead>
                <tr>
                    <th class="tg-0lax">Timestamp<br></th>
                    <th class="tg-0lax">Value<br></th>
                </tr>
                </thead>
                <tbody>
                {% for reading in temp %}
                    <tr>
                        <td class="tg-dg7a">{{reading[0]}}</td>
                        <td class="tg-dg7a">{{reading[2] + " " + reading[3]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="div2">
            <h2>CO2</h2>
            <table class="tg">
                <thead>
                <tr>
                    <th class="tg-0lax">Timestamp<br></th>
                    <th class="tg-0lax">Value<br></th>
                </tr>
                </thead>
                <tbody>
                {% for reading in co2 %}
                    <tr>
                        <td class="tg-dg7a">{{reading[0]}}</td>
                        <td class="tg-dg7a">{{reading[2] + " " + reading[3]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="div3">
            <h2>Humidity</h2>
            <table class="tg">
                <thead>
                <tr>
                    <th class="tg-0lax">Timestamp<br></th>
                    <th class="tg-0lax">Value<br></th>
                </tr>
                </thead>
                <tbody>
                {% for reading in humid %}
                    <tr>
                        <td class="tg-dg7a">{{reading[0]}}</td>
                        <td class="tg-dg7a">{{reading[2] + " " + reading[3]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="div4">
            <h2>Controls</h2>
        </div>
    </div> 
</body>
</html>